@{
    var status = Context.Request.Query["status"];
    var StatusInReview = "text-primary";
    var StatusApproved = "text-primary";
    var StatusInProgress = "text-primary";
    var StatusFinalized = "text-primary";
    var StatusCancelled = "text-primary";
    var all = "text-primary";

    switch (status)
    {
        case "InReview":
            StatusInReview = "active text-white bg-primary";
            break;
        case "Approved":
            StatusApproved = "active text-white bg-primary";
            break;
        case "InProgress":
            StatusInProgress = "active text-white bg-primary";
            break;
        case "Finalized":
            StatusFinalized = "active text-white bg-primary";
            break;
        case "Cancelled":
            StatusCancelled = "active text-white bg-primary";
            break;
        default:
            all = "active text-white bg-primary";
            break;
    }

}


<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Application List</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">       
        <div class="d-flex justify-content-between pb-5 pt-2">
            <span></span>
            <ul class="list-group list-group-horizontal-sm">
                <a style="text-decoration:none;" asp-controller="Application" asp-action="Index" asp-route-status="@SD.StatusInReview">
                <li class="list-group-item @StatusInReview">In Review</li>
                </a>
                <a style="text-decoration:none;" asp-controller="Application" asp-action="Index" asp-route-status="@SD.StatusApproved">
                <li class="list-group-item @StatusApproved">Approved</li>
                </a>
                <a style="text-decoration:none;" asp-controller="Application" asp-action="Index" asp-route-status="@SD.StatusInProgress">
                <li class="list-group-item @StatusInProgress">In Progress</li>
                </a>
                <a style="text-decoration:none;" asp-controller="Application" asp-action="Index" asp-route-status="@SD.StatusFinalized">
                <li class="list-group-item @StatusFinalized">Finalized</li>
                </a>
                <a style="text-decoration:none;" asp-controller="Application" asp-action="Index" asp-route-status="@SD.StatusCancelled">
                <li class="list-group-item @StatusCancelled">Cancelled</li>
                </a>
                <a style="text-decoration:none;" asp-controller="Application" asp-action="Index" asp-route-status="all">
                <li class="list-group-item @all">All</li>
                </a>
            </ul>
        </div>




        <table id="tblData" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        Dog
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Phone Number
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Payment Status
                    </th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts{
    <script src="~/js/application.js"></script>
}